{% extends 'base.html' %}
{% load notifications_tags %}

{% block content %}
{% notifications_unread as unread_count %}
<h1>Notifications</h1>
{% for notification in request.user.notifications.unread %}
  <a href="{{ notification.target.get_absolute_url }}">
    {{ notification.actor }} {{ notification.verb }} <br />
  </a>
{% empty %}
   No new notifications <br />
{% endfor %}
{% if request.user.notifications.unread.count > 0 %}
<a href="{% url 'notifications:mark_all_as_read' %}">Mark all as read</a><br />
{% endif %}
{% endblock content %}