{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Rant List</h1>
<a class="btn btn-primary" href="{% url 'rants:create' %}" role="button">
    Add Rant
</a>
{% for rant in rants %}
    <a href="{% url 'rants:detail' rant.slug %}">{{ rant.content }}</a><br>{{ rant.likes_count }} total likes<br> {{ rant.likes }} like{{ rant.likes|pluralize }} <br>{{ rant.created }}<br>
    <br>
    {% if user.is_authenticated %}
        {% if user_like %}
            <a href="{% url 'rants:rant-unlike' rant.slug %}">Unlike</a> 
        {% else %}
            <a href="{% url 'rants:rant-like' rant.slug %}">Like</a>
        {% endif %}
    {% endif %}
{% endfor %}
{% endblock content %}