{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">Rant List</h1>
<a class="btn btn-primary" href="{% url 'rants:create' %}" role="button">
    Rant
</a>
{% for rant in rants %}
    <a href="{% url 'rants:detail' rant.slug %}">{{ rant.content }}</a>
    {{ likes_count }}
    {% if user_like %}
    <a href="{% url 'rants:rant-unlike' rant.slug %}">Unlike</a> 
    {% else %}
    <a href="{% url 'rants:rant-like' rant.slug %}">Like</a>
    {% endif %}
    {% endfor %}
{% endblock content %}