{% extends 'base.html' %}

{% block content %}
{{ rant.user.username }}<br />
{{ rant.content }} <br />
{{ rant.created }} <br />
{% if rant.image %}
  <img src="{{ rant.image.url }}"> <br />
{% endif %}
<!-- LIKES -->
{{ likes_count }} like{{ likes_count|pluralize }}
    {% if user.is_authenticated %}
        {% if user_like %}
            <a href="{% url 'likes:rant-unlike' rant.slug %}">Unlike</a> 
        {% else %}
            <a href="{% url 'likes:rant-like' rant.slug %}">Like</a>
        {% endif %}
    {% endif %}
{% endblock content %}