{% extends "base.html" %}

{% load static %}

{% block title %}
  User: {{ object.username }}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>
          {{ object.username }}
      </h2>
      {% if object.first_name %}
        <p>{{ object.get_full_name }}</p>
      {% endif %}
      {% if object.profile_picture %}
        <img src="{{ object.profile_picture.url }}">
      {% endif %}
      <p>{{ object.bio }}</p>
    </div>
  </div>
  {% if request.user != user %}

    {% if request.user in user.followers.all %}

      <a href="{% url 'users:unfollow_user' user.username %}">Unfollow</a>

    {% else %}

      <a href="{% url 'users:follow_user' user.username %}">Follow</a>

    {% endif %}

  {% endif %}
  {% if followings|length > 0 %}
    <p>Following <a href="{% url 'users:user_following' user.username %}">{{ followings|length }}</a></p>
  {% else %}
    <p>Following {{ followings|length }}</p>
  {% endif %}

  {% if followers|length > 0 %}
    <p>Followers <a href="{% url 'users:user_followers' user.username %}">{{ followers|length }}</a></p>
  {% else %}
    <p>Followers {{ followers|length }}</p>
  {% endif %}

  {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
        <a class="btn btn-primary"
           href="{% url 'account_email' %}"
           role="button">E-Mail</a>
        <!-- Your Stuff: Custom user template urls -->
      </div>
    </div>
    <!-- End Action buttons -->
  {% endif %}
  {% for rant in rants %}
  <a href="{% url 'rants:detail' rant.slug %}">{{ rant.content }}</a> <br />
  {{ rant.likes }} like{{ rant.likes|pluralize }} <br />
    {% if rant.image %}
      <img src="{{ rant.image.url }}">
    {% endif %}<br />
  {% endfor %}
</div>
{% endblock content %}
